*{
    margin:0;
    padding:0;
}
/* Shared files here */
body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    
background-image: url('../images/banner/banner1.png');
background-repeat: no-repeat;
padding:50rem;
/* background-attachment: fixed; */
background-size: 100% 100%;

padding:13.5rem 14.38rem 22.75rem 75.81rem;

}
.nav-text{
    color: #151414;
text-align: right;
font-family: Work Sans;
font-size: 4.0625rem;
font-weight: 700;
width: 32.8125rem;
padding-bottom: 0;
/* padding:13.5rem 14.38rem 22.75rem 52.81rem; */
}
.nav-paragraph{
    color:  #444343;
    text-align: right;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    width: 30.875rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;

}
.btn{
    width: 10rem;
height: 4rem;
border-radius: 0.3125rem;
background: #F15B22;
color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 22.5rem;
border:0;
}
/* banner starts here */
.banner{
    display: flex;
padding: 8.75rem  34.5rem 0 17.31rem;
}
.banner-text{
    padding: 15rem 20rem 0 25rem;
}
.banner-head{
    color:#151414;
font-family: Work Sans;
font-size: 2.5rem;
font-weight: 700;
width: 18rem;
padding-bottom: 1.5rem;
}
.banner-para{
    color:  #444343;
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
width: 26rem;
}
.section-content{
    display: flex;
    text-align: center;
    padding:2rem 30rem 5rem 30rem;
    /* padding-bottom: 0;     */
}
.section-details{
    padding:0 8rem 0 0;
    /* gap:40px; */
   
}
.section-title{   
    color:  #151414;
font-family: Work Sans;
font-size: 2.5rem;
font-weight: 700;
text-align: center;
padding-left: 100px;
/* padding-top: 50px; */

}
.section-head{
    color:  #151414;
text-align: center;
font-family: Work Sans;
font-size: 1.8rem;
font-weight: 700;
padding-top:1.14rem;
padding-bottom: 0;
}
.section-pera{
    color:  #737272;
text-align: center;
font-family: Work Sans;
font-size: 1.5625rem;
font-weight: 500;
padding-top: 1rem;

}
.shafi{
    width: 71.25rem;
height: 18.75rem;
border-radius: 0.5rem;
margin:0 auto 8.13rem auto;
background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url('./watch.png');
background-size: cover;
/* background-attachment: fixed; */
}
.shafi1{
    color: #FFF;
font-family: Work Sans;
font-size: 2.5rem;
font-weight: 700;
width: 28.6875rem;
padding:3.69rem 38rem 1.5rem 4rem;
}
.btn-count{
    width: 10rem;
height: 4rem;
border-radius: 0.3125rem;
background: #FFF;
margin:0  19rem 6rem 4rem;
color: #F15B22;
text-align: center;
font-family: Work Sans;
font-size: 1.25rem;
font-weight: 600;
}
.foot{
    width: 120rem;
height: 36.0625rem;
background: #151414;
background-size: 100% 100%;
}
.foot-head{
    color: #F8F8F8;
font-family: Work Sans;
font-size: 2.8125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
padding:8.12rem 76.38rem 0 24rem;
}
.foot-msg{
    color: #F8F8F8;
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
width: 30.3125rem;
padding:1rem 55rem 0 24rem;
background-color: #151414;
}
.new-txt{
    color: #FFFFFF;
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
padding:1.5rem 74rem 1rem 24rem;
margin-top: 5px;
}
.foot{
    display: flex;
    justify-content: space-evenly;
}
.subs{
    padding:8.12rem 20rem 2rem 0;
    color: #FFF;
font-family: Work Sans;
font-size: 1.5625rem;
font-weight: 600;

}
.inp{
    padding:5px 8px;
    margin-bottom: 5px;
}
.butam{
    margin-top: 4px;
    width: 10.63163rem;
height: 4rem;
    padding:5px 8px;
    color: #F15B22;
font-family: Inter;
font-size: 1.25rem;
font-weight: 600;

}